<!DOCTYPE html>


<html>
    <head>
        <title>Referraly</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet"/>
        <style> 

                .navbar-brand {
                    font-weight: ;
                    font-size: 200%;
                }

        </style>

        <base target="_blank" />

    </head>
    <body>
        <div class="container">
            <nav id="navbar" class='navbar navbar-default navbar-fixed-top' role="navigation">
                    <div class="container">
                            <a class='navbar-brand' href="{{url_for("main_wallet")}}">Referraly</a>
                            <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{url_for("see_buddies")}}">Buddies</a></li>
                                <li><a href="{{url_for("set_user")}}">Login/Logout</a></li>
                            </ul></div>
                    </div>
            </nav>
        </div>

    
    <div class="row" style="height:100px">
    </div>


    <div id="content" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}</div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </body>
</html>


    





<!-- this is the navigation bar which will be extended in different ways  -->