<!-- This shows the expanded info on a code, 
including the code or link the user needs to get the discount.
This page shows the info for the codes that are shared by the user.
 -->

{% extends "base.html" %}

{% block content %}

	</div><div class="col-md-4">
	        <div class="panel panel-info">
	                <div class="panel-heading">About your code:</div>
	                    <div class="panel-body">          
				            <ul>
				                <p class="text-info">Referral code:</p><p>  {{referral_code}}</p><br>
								<p class="text-info">Company:</p><p>  {{company_name}}</p><br>         
								<p class="text-info">Expiry Date:</p><p>  {{expiry_date}}</p><br>
								<p class="text-info">Description:</p><p>  {{description}}</p><br>
								<p class="text-info">Category:</p><p>   {{category}}</p><br>
								<p class="text-info">Url:</p><p>   <a href="http://{{url}}">{{url}}</p><br>
				            </ul>
				        </div>    
			</div>
	</div>


{% endblock %}
