
{% extends "base.html" %}

{% block content %}


<div class="col-md-6">
        <div class="panel panel-info">
                <div class="panel-heading">About the code:</div>
                    <div class="panel-body">          
			            <ul>
			                <li>This code is from:  {{name}}</li><br>
			                <li>Referral code:  {{referral_code}}</li><br>
							<li>Company:  {{company_name}}</li><br>            
							<li>Expiry Date:   {{expiry_date}}</li><br>
							<li>Description:   {{description}}</li><br>
							<li>Category:   {{category}}</li><br>
							<li>Url:   <a href="http://{{url}}">{{url}}</a></li><br>
			            </ul>
			        </div>    
		</div>
</div>



{% endblock %}
