
<!--This page shows the info for the codes 
that the user can cash in for a discount. -->


{% extends "base.html" %}




{% block content %}


<div class="col-md-6">
        <div class="panel panel-info">
                <div class="panel-heading">About the code:</div>
                    <div class="panel-body">          
			                <p class="text-info">This code is from:</p><p>  {{name}}</p><br>
			                <p class="text-info">Referral code:</p><p>  {{referral_code}}</p><br>
							<p class="text-info">Company:</p><p>  {{company_name}}</p><br>            
							<p class="text-info">Expiry Date:</p><p>   {{expiry_date}}</p><br>
							<p class="text-info">Description:</p><p>   {{description}}</p><br>
							<p class="text-info">Category:</p><p>   {{category}}</p><br>
							<p class="text-info">Url:</p><p> 
											{% if url=="No URL provided" %} 
											{{url}}
											{% else %} 
											<a href="http://{{url}}"> {{url}}</a>
											{% endif %}</p><br>
			        </div>    
		</div>
</div>



{% endblock %}
