
{% extends "base.html" %}

{% block content %}

<div class="col-md-6">
        <div class="panel panel-info">
                <div class="panel-heading">About your code:</div>
                    <div class="panel-body">          
			            <ul>
			                <li><h5>Referral code:</h5> {{referral_code}}</li><br>
							<li><h5>Company:</h5> {{company_name}}</li><br>         
							<li><h5>Expiry Date:</h5> {{expiry_date}}</li><br>
							<li><h5>Description:</h5> {{description}}</li><br>
							<li><h5>Category:</h5>{{category}}</li><br>
							<li><h5>Url:</h5><a href="http://{{url}}">{{url}}</a></li><br>
			            </ul>
			        </div>    
		</div>
</div>



{% endblock %}
