

{% extends "base.html" %}

{% block content %}
      <div class="list">
            <h3> Codes that you are sharing:</h3>
            <ul>
            {% for code in codes %}
                <li><a href="/see_details/{{code.id}}">{{ code.company.name }}</a></li> 
            {% endfor %}
            </ul>
      </div>
      
      <div class="form">
            <h3>Add a new code:</h3>
            <form method="post" action="/new_code">
                  <input type="text" name="company" placeholder="Company*"><br>
                  <input type="text" name="code" placeholder="Code or Link*"><br>
                  <input type="text" name="url" placeholder="URL for website"><br>
                  <input type="text" name="category" placeholder="Category"><br>
                  <h4>What's the expiry date?</h4><br>
                  <input type="date" name="expiry_date" placeholder="Expiry Date"><br>
                  <h4>Do you want to add a description?</h4><br>
                  <input type="text" name="description" placeholder="Description"><br>
                  <input type="submit">
            </form>
      </div>


{% endblock %}

