
			<div class="col-md-4">
	            <div class="panel panel-info">
	                <div class="panel-heading">Available codes:</div>
		                <div class="panel-body">
							<div id="codes_list">
								{% with messages = get_flashed_messages(with_categories=true) %}
								    {% if messages %}
								    <ul class=flashes>
								        {% for category, message in messages %}
								        <p class="{{ category }}">{{ message }}</p>
								        {% endfor %}
								    </ul>
								    {% endif %}
								    {% endwith %}

								{% for code in codes %}
			                	<p><a target= class="text-info" id="code_link" href="http://localhost:5000/code_for_user/{{code.id}}">{{ code.company.name }}</a></p> 
			            		{% endfor %}
			            	</div>
		            	</div>
				</div>
			</div>
